<template>
  <div>
    <Formulario v-on:nuevoProducto="agregarProducto" />
    <Tabla :lista="listaProductos" />
    <EnlaceBaraja :lista="listaProductos" />
  </div>
</template>
<script>
import Formulario from "../components/Formulario";
import Tabla from "../components/Tabla";
import EnlaceBaraja from "../components/EnlaceBaraja";
export default {
  components: {
    Formulario,
    Tabla,
    EnlaceBaraja
  },
  data() {
    return {
      listaProductos: []
    };
  },
  methods: {
    agregarProducto(producto) {
      this.listaProductos.push({
        nombre: producto.nombre,
        descripcion: producto.descripcion,
        precio: producto.precio
      });
      
    }
  }
};
</script>
<style></style>