<template>
  <div>
    <b-card-group>
      <b-card
        class="mb-2"
        :title="producto.nombre"
        v-for="producto in listaProductos"
        style="max-width: 20rem;"
        :key="producto.nombre"
      >
        <b-card-text>{{producto.descripcion}}</b-card-text>
        <b-button id="btn-editar" v-on:click="editarProducto" variant="primary">Editar</b-button>
        <b-button id="btn-borrar" v-on:click="borrarProducto" variant="primary">Borrar</b-button>
      </b-card>
    </b-card-group>
    <EnlaceBaraja v-on:listaProductosEnlaceBaraja="setListaProductos" />
  </div>
</template>
<script>
import EnlaceBaraja from "../components/EnlaceBaraja";
export default {
  components: {
    EnlaceBaraja
  },
  data() {
    return {
      listaProductos: []
    };
  },
  methods: {
    setListaProductos() {
      this.listaProductos = [];
    },
    editarProducto() {
      console.log("Editar");
    },
    borrarProducto() {
      console.log("Borrar");
    }
  }
};
</script>
<style>
#btn-editar,
#btn-borrar {
  margin: 10px;
}
</style>