<template>
<div></div>
</template>
<script>
export default {
  props: {
    lista: Array
  },
  data() {
    return {
      listaProductos: this.lista
    };
  },
  created() {
    this.$emit("listaProductosEnlaceBaraja", this.listaProductos);
  }
};
</script>