<template>
  <div>
    <b-form id="formulario">
      <b-form-group class="text-left" label="Nombre:" label-for="nombre-producto">
        <b-form-input
          id="nombre-producto"
          v-model="producto.nombre"
          type="text"
          required
          placeholder="Lechuga ..."
        ></b-form-input>
      </b-form-group>

      <b-form-group class="text-left" label="Descripción:" label-for="descripcion-producto">
        <b-form-input
          id="descripcion-producto"
          v-model="producto.descripcion"
          required
          placeholder="Lechuga Escarola Granel ..."
        ></b-form-input>
      </b-form-group>

      <b-form-group class="text-left" label="Precio:" label-for="precio-producto">
        <b-form-input
          id="precio-producto"
          v-model="producto.precio"
          type="number"
          required
          placeholder="$ 1234567890"
        ></b-form-input>
      </b-form-group>

      <b-button id="btn-anadir" v-on:click="enviarProducto" variant="primary">Añadir</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      producto: {
        nombre: "",
        descripcion: "",
        precio: ""
      }
    };
  },
  methods: {
    enviarProducto() {
      this.$emit("nuevoProducto", this.producto);
      this.producto.nombre = "";
      this.producto.descripcion = "";
      this.producto.precio = "";
    }
  }
};
</script>

<style>
#formulario {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}
#btn-anadir {
  width: 100%;
  margin-bottom: 40px;
}
</style>