<template>
  <div>
    <b-table striped hover :items="listaProductos"></b-table>
  </div>
</template>
<script>
export default {
  props: {
    lista: Array
  },
  data() {
    return {
      listaProductos: this.lista
    };
  }
};
</script>
<style>
</style>